
body{
font-family:Arial;
margin:20px;
background:#f4f6f8;
}

h1{
text-align:center;
}

.search{
width:100%;
padding:16px;
font-size:18px;
margin-bottom:10px;
border-radius:8px;
border:1px solid #ccc;
}

.input{
width:100%;
padding:16px;
font-size:18px;
margin:10px 0;
border-radius:8px;
border:1px solid #ccc;
}

.blue-btn{
background:#1e73ff;
color:white;
border:none;
padding:14px;
font-size:18px;
border-radius:10px;
width:100%;
margin-top:8px;
}

.big{
font-size:22px;
padding:18px;
}

.card{
background:white;
padding:16px;
margin-top:12px;
border-radius:12px;
box-shadow:0 2px 6px rgba(0,0,0,0.15);
}

.priority-A{border-left:8px solid red;}
.priority-B{border-left:8px solid orange;}
.priority-C{border-left:8px solid gold;}
.priority-D{border-left:8px solid gray;}
