
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="/static/mobile_ui.css">
</head>
<body>

<h1>Add Account</h1>
<form method="post">
<input name="name" placeholder="Office Name">
<input name="address" placeholder="Address">
<input name="city" placeholder="City">
<select name="classification">
<option>A</option>
<option>B</option>
<option>C</option>
<option>D</option>
</select>
<button type="submit">Save Account</button>
</form>
