
{% extends "base.html" %}
{% block content %}

<h2>Territory Map</h2>

<div id="map"></div>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<script>
var map=L.map('map').setView([34.7,-86.6],10);
L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

{% for r in rows %}

var marker=L.marker([{{r[2]}},{{r[3]}}]).addTo(map);
marker.bindPopup("<b>{{r[1]}}</b><br>{{r[4]}} {{r[5]}}<br><a href='/visit/{{r[0]}}'>Log Visit</a>");

{% endfor %}
</script>

{% endblock %}
