
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Log Visit</title>
</head>

<body style="font-family:Arial;padding:20px;">

<a href="/">⬅ Home</a>

<h1>Log Visit</h1>

<form method="POST">

Office<br>
<select name="office">
{% for o in offices %}
<option>{{o[0]}}</option>
{% endfor %}
</select>

<br><br>

Notes<br>
<textarea name="note" style="width:100%;height:80px;"></textarea>

<br><br>

<button style="width:100%;padding:14px;">Save Visit</button>

</form>

</body>
</html>
