
{% extends "base.html" %}
{% block content %}

<h2>Log Visit</h2>

<form method="post">

<input name="who" placeholder="Who you spoke with">
<input name="type" placeholder="Visit type">

<textarea id="notes" name="notes" placeholder="Notes"></textarea>

<button type="button" onclick="voice()">🎤 Voice Notes</button>
<button class="btn">Save Visit</button>

</form>

<script>
function voice(){
var r=new webkitSpeechRecognition();
r.onresult=function(e){
document.getElementById("notes").value=e.results[0][0].transcript;
}
r.start();
}
</script>

{% endblock %}
